body {
    background-color: #CCCCFF;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

#mainTextArea {
    font-size: 10px;
}

.heading {
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

#main {
    text-align: center;
    vertical-align: center;
    margin: 0px auto;
}

.mainText {
    /*align-self: center;*/
    width: 90%;
    height: 400px;
    font-weight: bold;
    font-size: 12pt;
}

.controlField {
    /*width: 25%;*/
    /*margin: 20px;*/
    margin-left: 70px;
    border: 5px solid black;
    display: inline;
    vertical-align: top;
    float: left;
}

#control {
    overflow:hidden;
    vertical-align: middle;
    display: inline-block;
    /*vertical-align: top;*/
    /*text-align: center;*/
    width: 90%;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin: 0px auto;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

fieldset {
    display: inline;
    /*border: 5px solid black;*/
    /*vertical-align: top;*/
}